/* .aboutIntroduction {
  text-align: center;
}

.aboutMe {
  margin: 10px;
  text-align: justify;
  text-align: center;
}

.designerPhoto {
  width: 700px;
  height: 800px;
  padding: 20px;
  border-radius: 20px;
}

.aboutMeBlock {
  display: inline-flex;
  text-align: justify;
  width: 100%;
  padding: 20px 20px 20px;
  margin-bottom: 30px;
}

.slogan {
  font-size: 20px;
  line-height: 0%;
  background: antiquewhite;
  font-size: 20px;
  font-style: bold;
}

.designerName {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 50px;
}

.designerIntroduction {
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
}

.advantages {
  text-align: center;
  margin-top: 60px;
}

.advantagesTitle {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0;
}

.advantagesDesigner {
  font-family: windsong;
  font-weight: lighter;
  font-size: 40px;
  margin-top: 0;
}

.advantagesSections {
  display: flex;
}

.advantagesSection {
  display: inline-table;
  text-align: center;
  font-size: 12px;
  padding: 15px 15px 15px 15px;
  margin: 15px;
  align-items: center;
  border: 5px double #cdcfc4;
  width: 300px;
  height: 400px;
  border-radius: 5%;
}

.titleAdvantage {
  color: #b7997b;
}

.iconAdvantage {
  width: 80px;
  height: 80px;
  padding-top: 25px;
  padding-top: 40px;
} */
