@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --font-paragraph: "Raleway", sans-serif;
  --font-titles: "Montserrat", sans-serif;
  --font-special: "Windsong", cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-text {
  font-family: var(--font-paragraph);
  font-size: 18px;
}

.font-subtitle {
  font-family: var(--font-titles)
  font-size: 20px;
}

.font-title {
  font-family: var(--font-titles)
  font-size: 25px;
}

.font-italic {
  font-style: italic;
}

.windsong-subtitle {
  font-family: var(--font-special)
}

.hr {
  border-style: solid;
  border-color: #cdcfc4;
  border-radius: 25%;
  opacity: 40%;
}

.hr-black {
  border: 0.001rem solid black;
  width: 500px;
  align-items: center;
}

.hr-subtitle {
  width: 100%;
  height: 90px;
  align-items: center;
}

.hr-border-vertical {
  border-width: 0px 5px 0px 0px;
  float: left;
  border-left: 1px;
  height: 18vw;
}

.hr-border-top-horizontal {
  border-width: 5px 0px 0px 0px;
}

.link {
  text-decoration: none;
  color: black;
}

.container {
  background-image: url(https://chalet-webapp.s3.amazonaws.com/homepage/MezzanineHall-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmax;
  width: 100vmax;
  justify-items: center;
}

.title-chalet {
  color: black;
}

.black-border {
  border: 2px solid black;
  width: 500px;
}

.button {
  border: none;
  text-align: center;
  min-width: fit-content;
}

.button-green {
  background: #cdcfc4;
}

.button-brown {
  border-radius: 12px;
  background: #e9dccf;
  color: #856343;
  /* width: 200px;
height: 35px; */
}

.icon {
  width: 60px;
}

.image-service {
  object-fit: cover;
  height: 300vh;
  width: 300vh;
}

.background {
  background-color: #b7997b;
  width: 100vmax;
}

@media only screen and (max-width: 800px) {
  .background {
    width: 800vh;
  }

  .display {
    display: flex;
  }
  .container {
    width: 800vh;
    background-repeat: repeat-x;
    /* background-attachment: fixed; */
  }
}

@media only screen and (max-width: 500px) {
  .background {
    width: 500vh;
    height: 100%;
  }
  .display {
    display: flex;
  }

  .container {
    width: 500vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .background {
    width: 1120vh;
  }
  .display {
    display: flex;
  }

  .container {
    width: 1120vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
