@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  background-image: url(https://chalet-webapp.s3.amazonaws.com/homepage/MezzanineHall-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmax;
  width: 100vmax;
  justify-items: center;
}

.title-chalet {
  color: black;
}

.black-border {
  border: 2px solid black;
  width: 500px;
}

.link {
  text-decoration: none;
  color: black;
}

.background {
  background-color: #b7997b;
  width: 100vmax;
}

.display {
  display: inline-flex;
}

@media only screen and (max-width: 800px) {
  .background {
    width: 800vh;
  }

  .display {
    display: flex;
  }
  .container {
    width: 800vh;
    background-repeat: repeat-x;
    /* background-attachment: fixed; */
  }
}

@media only screen and (max-width: 500px) {
  .background {
    width: 500vh;
    height: 100%;
  }
  .display {
    display: flex;
  }

  .container {
    width: 500vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .background {
    width: 1120vh;
  }
  .display {
    display: flex;
  }

  .container {
    width: 1120vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
