/* .footer {
  background-color: #e9dccf;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footerTime {
  align-self: center;
  margin-bottom: 20px;
}

.nameStyles {
  font-style: italic;
  text-decoration: none;
  color: black;
}

.nameStylesLink {
  font-style: italic;
  text-decoration: none;
  color: black;
} */
