.informationSection {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  padding-top: 40px;
}

.backToHome {
  margin: 3rem 0 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.differentTitle {
  font-family: "Windsong", cursive;
  font-weight: lighter;
  font-size: 40px;
}

.logo {
  width: 80px;
  height: 80px;
}

.subtitles {
  font-size: 30px;
  font-style: italic;
  margin-top: 0;
  font-weight: lighter;
  text-align: center;
}

.button {
  color: #856343;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: #cdcfc4;
  font-weight: 400;
  font-family: "Raleway";
  background: #e9dccf;
  font-weight: bold;
  margin-bottom: 45px;
  margin-top: 15px;
}

.button:hover {
  transition-duration: 0.1s;
  letter-spacing: 5px;
  background: rgb(233, 220, 207, 0.3);
}

.nameStyles {
  font-style: italic;
}

.navBar {
  background-color: #b7997b;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.navBarLink {
  text-decoration: none;
  font-size: 18px;
  padding: 50px 50px 50px 50px;
  color: black;
  cursor: pointer;
}

.navBarLink:after,
.navBarLink:before {
  transition: all 0.2.s;
}

.navBarLink:hover {
  transition-duration: 0.1s;
  letter-spacing: 3px;
}

.menuLeft {
  float: left;
}

.menuRight {
  float: right;
}
