.cardHomeServices {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 3px rgba(98, 81, 64, 0.2);
  padding: 30px 30px 30px;
}

.cardHomeServicesImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.cardHomeServicesTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: roboto;
}

.cardHomeServicesDescription {
  font-size: 14px;
  opacity: 0.8;
  margin: 0;
  font-family: roboto;
}

.cardHomeServicesInfos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cardHomeServicesLink {
  text-decoration: none;
  color: black;
}

.cardHomeServicesLink:hover {
  opacity: 0.7;
}

.homeSections {
  display: inline-flex;
  margin-top: 60px;
}

.designerName {
  font-style: italic;
  font-size: 20px;
}

.hr {
  border: 0.001rem solid black;
  width: 500px;
}

.chaletTitle {
  font-size: 90px;
  text-align: center;
  letter-spacing: 30px;
  margin-bottom: 0;
  padding-top: 100px;
}

.background {
  background-image: url(https://chalet-webapp.s3.amazonaws.com/homepage/MezzanineHall-background.png);
  text-align: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 1000px;
}

.missionSentence {
  text-align: center;
}

.missionSentenceBlock {
  display: inline-flex;
}

.missionSentenceBlockImg {
  width: 250px;
  height: 150px;
}
