/* .contactsForm {
  padding-left: 250px;
  margin-top: 120px;
}

.contactsSection {
  display: inline-flex;
}

.formTextArea {
  width: 550px;
  height: 60px;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 0.8vh;
  border: #b4b39f;
  border-style: groove;
  display: block;
}

.formEmail {
  width: 550px;
  height: 40px;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 0.8vh;
  border: #b4b39f;
  border-style: groove;
  display: block;
}

.formName {
  width: 550px;
  height: 40px;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 0.8vh;
  display: block;
  border: #b4b39f;
  border-style: groove;
}

.detailImg {
  height: 600px;
  border-radius: 10px;
  transform: rotate(-90deg);
} */
