.socialIcons {
  align-self: center;
  margin-top: 20px;
}

.socialIcon {
  width: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.socialIcon:hover {
  transition-duration: 0.5s;
  color: white;
  opacity: 0.05;
}
