.projectsMenu {
  display: inline-flex;
}

.projectTitleMenu {
  padding: 10px 10px 10px;
}

.projectTitle {
  text-decoration: none;
  color: black;
}

.projectTitle:hover {
  text-decoration: underline;
}

.projectTitleMenu:hover {
  font-weight: 600;
}

.galleryTitle {
  font-size: 25px;
  text-align: center;
  font-family: Roboto;
  font-weight: lighter;
  color: #b7997b;
}

.galleryMasonry {
  padding: 5px;
  width: 350px;
}

.galleryMasonry:hover {
  transition-duration: 0.8s;
  transform: scale(2);
  font-weight: 600;
}

.buttonPlace {
  color: #856343;
  border: none;
  width: 190px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  font-family: poppins;
  background: #e9dccf;
  margin: 5px;
}

.buttonMenu {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.category {
  display: flex;
  flex-direction: column;
}

.categorySection {
  display: inline-flex;
  margin-bottom: 50px;
  margin-left: 0.5rem;
}

.categoryElement {
  padding-right: 10px;
}

.inputRadio {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  filter: grayscale();
}

.inputLabel {
  padding: 5px;
}
