.serviceSection {
  display: flex;
}

.serviceColumn {
  float: left;
  margin: 10px;
  border-style: solid;
  border-width: 0px 5px 0px 0px;
  border-left: 1px;
  height: 350px;
  border-color: #e9dccf;
  border-radius: 25%;
  opacity: 40%;
}

.serviceText {
  margin-top: 0;
  list-style-type: circle;
  padding: 0px 40px 40px 40px;
  text-align: justify;
  margin-bottom: 100px;
}

.serviceDescription {
  font-size: 18px;
}

.serviceBullets {
  padding-left: 40px;
  font-size: 18px;
}

.serviceImage {
  height: 300px;
  width: 80%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: right;
  margin-right: 0;
  margin-top: 25px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.button {
  color: #856343;
  border: none;
  width: 200px;
  height: 35px;
  font-size: 14px;
  border-radius: 12px;
  font-family: "Raleway";
  background: #e9dccf;
  margin-top: 50px;
}

.buttonModal {
  color: #2c2621;
  border: none;
  width: 160px;
  height: 30px;
  font-size: 14px;
  border-radius: 12px;
  background: #e9e4e0;
  margin-top: 20px;
  margin-right: 10px;
}

.serviceLine {
  width: 100%;
  height: 90px;
  align-items: center;
}

.modal {
  padding: 35px 35px 35px;
  margin-top: 50px;
  background-color: rgb(250, 245, 238);
  border-radius: 5%;
}
